= form_for @staff do |f|
  = error_messages_for @staff

  .field
    = f.label :last_name
    = f.text_field :last_name
    = f.error_messages_for(:last_name)
  .field
    = f.label :first_name
    = f.text_field :first_name
    = f.error_messages_for(:first_name)
  .field
    = f.label :birthday
    = f.date_select :birthday
    = f.error_messages_for(:birthday)
  .actions
    = f.submit 'Сохранить'
