=breadcrumb_tag do
  %li.active
    = t('headers.root')
  %li
    = t('app.staffs.index')
    
.page-header
  %h1= t("app.staffs.index")

= link_to t("buttons.new.staff"), new_staff_path, class: 'btn btn-primary'
%br

.table-responsive
  %table.table.table-hover.table-striped.center
    %thead
      %tr
        %th= Staff.human_attribute_name(:last_name)
        %th= Staff.human_attribute_name(:first_name)
        %th= Staff.human_attribute_name(:birthday)
        %th
        %th
        %th

    %tbody
      - @staffs.each do |staff|
        %tr
          %td= staff.last_name
          %td= staff.first_name
          %td= staff.birthday
          %td
            = link_to staff, class: 'btn btn-success' do
              = fa_icon :eye
          %td
            = link_to edit_staff_path(staff), class: 'btn btn-info' do
              = fa_icon :edit
          %td
            = link_to staff, :method => :delete, :data => { :confirm => t('helpers.sure') }, class: 'btn btn-danger' do
              = fa_icon :times

  %br
