%p#notice= notice

%p
  %b Фамилия:
  = @staff.last_name
%p
  %b Имя:
  = @staff.first_name
%p
  %b Дата рождения:
  = @staff.birthday

= link_to 'Изменить', edit_staff_path(@staff)
\|
= link_to 'Назад', staffs_path
