%p#notice= notice

%p
  %b Кинотеатр:
  = @cinema_movie.cinema.name
%p
  %b Фильм:
  = @cinema_movie.movie.name

= link_to t("buttons.edit"), edit_cinema_movie_path(@cinema_movie), class: 'btn btn-info'
\|
= link_to t("buttons.back"), cinema_movies_path, class: 'btn btn-primary'
