=breadcrumb_tag do
  %li.active
    = t('headers.root')
  %li.active
    = link_to t('app.movies.index'), movies_path
  %li.active
    = link_to @movie.name, @movie
  %li
    = t('app.movies.edit')

.page-header
  %h1= t('app.movies.edit')

= render 'form'
