=breadcrumb_tag do
  %li.active
    = t('headers.root')
  %li.active
    = link_to t('app.movies.index'), movies_path
  %li.active
    = link_to t('app.movies.search'), search_movies_path
  %li
    = t('headers.movies.search_result')

.table-responsive
  %table.table.table-hover.table-striped.center.adaptive-table
    %thead
      %tr
        %th= Movie.human_attribute_name(:name)
        %th= Movie.human_attribute_name(:genre)
        %th= Movie.human_attribute_name(:duration)
        %th= Movie.human_attribute_name(:country)
        %th= Movie.human_attribute_name(:company)
        %th= Movie.human_attribute_name(:age_rating)
        %th

    %tbody
      - @movies.each do |movie|
        %tr
          %td{data: {label: Movie.human_attribute_name(:name) } }
            = movie.name
          %td{data: {label: Movie.human_attribute_name(:genre) } }
            = movie.genre
          %td{data: {label: Movie.human_attribute_name(:duration) } }
            = movie.duration
          %td{data: {label: Movie.human_attribute_name(:country) } }
            = movie.country
          %td{data: {label: Movie.human_attribute_name(:company) } }
            = movie.company
          %td{data: {label: Movie.human_attribute_name(:age_rating) } }
            = movie.age_rating
          %td.table-links
            = link_to movie, class: 'btn btn-success' do
              = fa_icon :eye
            - if is_admin?
              = link_to edit_movie_path(movie), class: 'btn btn-info' do
                = fa_icon :edit
              = link_to movie, :method => :delete, :data => { :confirm => t('helpers.sure') }, class: 'btn btn-danger' do
                = fa_icon :times
