%p#notice= notice

%p
  %b Название:
  = @movie.name
%p
  %b Жанр:
  = @movie.genre
%p
  %b Продолжительность:
  = @movie.duration
%p
  %b Страна:
  = @movie.country
%p
  %b Компания:
  = @movie.company
%p
  %b Возрастное ограничение:
  = @movie.age_rating

= link_to 'Изменить', edit_movie_path(@movie)
\|
= link_to 'Назад', movies_path
