%h1 Listing movie_staffs

%table.table.table-stripped.table-hover.center
  %thead
    %tr
      %th Movie
      %th Staff
      %th Role
      %th
      %th
      %th

  %tbody
    - @movie_staffs.each do |movie_staff|
      %tr
        %td= movie_staff.movie.name
        %td= movie_staff.staff.last_name
        %td= movie_staff.role
        %td= link_to 'Show', movie_staff
        %td= link_to 'Edit', edit_movie_staff_path(movie_staff)
        %td= link_to 'Destroy', movie_staff, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Movie staff', new_movie_staff_path
