%h1 Список связей фильмов и сотрудников

= link_to t("buttons.new.association"), new_movie_staff_path, class: 'btn btn-primary'
%br

.table-responsive
  %table.table.table-hover.table-striped.center
    %thead
      %tr
        %th= t('helpers.forms.movie')
        %th= t('helpers.forms.staff')
        %th Роль
        %th
        %th
        %th

    %tbody
      - @movie_staffs.each do |movie_staff|
        %tr
          %td= movie_staff.movie.name
          %td= movie_staff.staff.last_name
          %td= movie_staff.role
          %td
            = link_to movie_staff, class: 'btn btn-success' do
              = fa_icon :eye
          %td
            = link_to edit_movie_staff_path(movie_staff), class: 'btn btn-info' do
              = fa_icon :edit
          %td
            = link_to movie_staff, :method => :delete, :data => { :confirm => t('helpers.sure') }, class: 'btn btn-danger' do
              = fa_icon :times
