%p#notice= notice

%p
  %b Фильм:
  = @movie_staff.movie.name
%p
  %b Сотрудник:
  = @movie_staff.staff.last_name
%p
  %b Роль:
  = @movie_staff.role

= link_to t("buttons.edit"), edit_movie_staff_path(@movie_staff), class: 'btn btn-info'
\|
= link_to t("buttons.back"), movie_staffs_path, class: 'btn btn-primary'
