= form_for @cinema do |f|
  - if @cinema.errors.any?
    #error_explanation
      %h2= "#{pluralize(@cinema.errors.count, "error")} prohibited this cinema from being saved:"
      %ul
        - @cinema.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :address
    = f.text_area :address
  .field
    = f.label :movies, "Фильмы"
    = f.select :movies, Movie.all.collect{|t| [t.name, t.id]}, {:prompt => "Выберите фильмы"}, {:multiple => true} 

  .actions
    = f.submit 'Save'
