= form_for @cinema do |f|
  = error_messages_for @cinema

  .field
    = f.label :name
    = f.text_field :name
    = f.error_messages_for(:name)
  .field
    = f.label :address
    = f.text_area :address
    = f.error_messages_for(:address)
  .field
    = f.label :movies, "Фильмы"
    = f.select :movies, Movie.all.collect{|t| [t.name, t.id]}, {:prompt => "Выберите фильмы"}, {:multiple => true} 
    = f.error_messages_for(:movie_id)

  .actions
    = f.submit 'Сохранить'
