=breadcrumb_tag do
  %li.active
    = t('headers.root')
  %li
    = t('app.cinemas.index')

.page-header
  %h1= t("app.cinemas.index")
- if is_admin?
  = link_to t("buttons.new.cinema"), new_cinema_path, class: 'btn btn-primary'
%br

.table-responsive
  %table.table.table-hover.table-striped.center.adaptive-table
    %thead
      %tr
        %th= Cinema.human_attribute_name(:name)
        %th= Cinema.human_attribute_name(:address)
        %th

    %tbody
      - @cinemas.each do |cinema|
        %tr
          %td{data: {label: Cinema.human_attribute_name(:name) } }
            = cinema.name
          %td{data: {label: Cinema.human_attribute_name(:address) } }
            = cinema.address
          %td.table-links
            = link_to cinema, class: 'btn btn-success' do
              = fa_icon :eye
            - if is_admin?
              = link_to edit_cinema_path(cinema), class: 'btn btn-info' do
                = fa_icon :edit
              = link_to cinema, :method => :delete, :data => { :confirm => t('helpers.sure') }, class: 'btn btn-danger' do
                = fa_icon :times
